<%- include('Header') %>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Simple Tables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Simple Tables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
               
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- basic table -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Basic Table</h5>
                                <form>
                                    <input type="text" name="search">
                                    <input type="submit" value="searching" name="searching">
                                </form>
                                <div class="card-body">
                                    <form method="post" action="/category/deactiveMultiRecord">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="allCheckBox" />
                                                    <button type="submit" ><i class="fa fa-trash"></i></button></th>
                                                <th scope="col">#</th>
                                                <th scope="col">Category name</th>
                                                <th scope="col">Image</th>
                                               
                                                <th scope="col">Status</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var ad of catData){ %>
                                            <tr>
                                                <th scope="row"><input type="checkbox" name="deactiveRecord[]" class="checkBoxClass" value="<%= ad.id %>">
                                                   
                                                </th>
                                                <th scope="row">1</th>
                                                <td><%= ad.category_name %></td>
                                                <td><img src="<%= ad.category_img %>" height="100" /></td>
                                               
                                                <td><% if(ad.isActive){ %>
                                                        <a href="#" class="btn btn-success">Active</a>
                                                    <% } else { %>
                                                        <a href="#" class="btn btn-danger">Deactive</a>
                                                    <% } %>
                                                </td>
                                                <% if(ad.isActive == true) { %>
                                                    <td>
                                                        <a href="/gallery/deactive/<%= ad.id %>" class="btn btn-primary">Deactive</a>
                                                    </td>
                                                    <% } %>
                            
                                                    <% if(ad.isActive == false) { %>
                                                    <td>
                                                        <a href="/gallery/Active/<%= ad.id %>" class="btn btn-success">Active</a>
                                                    </td>
                                                <% } %>
                                            </tr>
                                            <% } %>
                                            
                                           <tr>
                                        
                                           </tr>
                                        </tbody>

                                    </table>
                                </form>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                   
               
            </div>
            <%- include('footer') %>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
         