<%- include('UserHeader') %>

<body>


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <form method="post" action="/User/paymentCartData" >
                    <tbody class="align-middle">
                        <input type="hidden" value="<%= cartData %>" id="totalCartData"/>
                        <% var total = 0;  i=0; for(var cd  of cartUserData){ %>
                            <tr>
                                <td class="align-middle"><img src="<%= cd.product_id.avatar %>" alt="" style="width: 50px;"> <%= cd.product_id.product_name %></td>
                                <td class="align-middle" id="singleProductPrice<%= i %>">$<%= cd.product_id.price %></td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus" >
                                            <i class="fa fa-minus"></i>
                                            </button>
                                        </div>  
                                        <input type="text" id="quantity<%= i %>" class="form-control form-control-sm bg-secondary text-center" value="<%= cd.quantity %>">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus" onclick="quantityIncrement('<%= cd.product_id.id %>',<%= i %>)">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle" id="totalAmount<%= i %>">$<%= cd.product_id.price*cd.quantity%></td>
                                <td class="align-middle"><a href="/User/removeCart/<%= cd.id %>" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></a></td>
                            </tr>
                            <% total +=   cd.product_id.price*cd.quantity; %>
                            <% ++i } %>
                        
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
               
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium" id="totalProductAmount">$<%= total %></h6>
                            <input type="hidden" value="<%= total %>" name="FinalAmount"/>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">10$</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold" id="totalProductAmountU">$<%= total %></h5>
                        </div>
                        <button name="submit" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!-- Cart End -->
<%- include('UserFooter') %>


<script>
    function quantityIncrement(pId, pos){   
        var qu = parseInt(document.getElementById('quantity'+pos).value);
        var singlePrice  = (document.getElementById('singleProductPrice'+pos).innerHTML);
        var sp = parseInt(singlePrice.slice(1));
        var qua = qu+1;
        document.getElementById("totalAmount"+pos).innerHTML = sp*qua;

        var totalCartData = parseInt(document.getElementById("totalCartData").value);
        var finalA =0;
        for(var i=0; i<totalCartData; i++){
            var productAmount = parseInt(document.getElementById("totalAmount"+i).innerHTML)
            finalA += productAmount;
        }

        document.getElementById('totalProductAmount').innerHTML = finalA;
        document.getElementById('totalProductAmountU').innerHTML = finalA+10;



        
        $.ajax({
            url : "/User/productQuantity",
            type : "post",
            data : {
                productId : pId,
                quantity : qua
            },
            success: function(){
                alert('Quantity Updated sucessfuly');
            }
        })

    }
</script>
</body>

</html>